/* block.css */
div.abstract-box {
  font-style: italic;
  margin: 50px 0 70px 0;
}

div.abstract-box hr {
  margin-top: 60px;
  margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
  div.abstract-box {
    margin: 30px 0 50px 0;
  }

  div.abstract-box hr {
    margin-top: 30px;
  }
}
